<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="gsmtCampPlacing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="gsmtCampPlacing.Properties.Settings.connString" connectionString="Data Source=10.135.248.13;Initial Catalog=CADB_DEV;User id=dgdasf;Password=das$db77!;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <gsmtCampPlacing.Properties.Settings>
            <setting name="CouncilID" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="SMTPhost" serializeAs="String">
                <value>smtp.sendgrid.net</value>
            </setting>
            <setting name="TestMobilePhoneNo" serializeAs="String">
                <value>7275153363</value>
            </setting>
            <setting name="TestEmail" serializeAs="String">
                <value>blake.eversole@dataAccessSolutions.net</value>
            </setting>
            <setting name="CouncilEmail" serializeAs="String">
                <value>noreply@councilAlignMENT.com</value>
            </setting>
            <setting name="swi_API_key" serializeAs="String">
                <value>3D-D9-52-C4-45-C7-A5-9C-B4-1F-6A-44-00-A4-C0-52-AC-7C-5F-BC</value>
            </setting>
            <setting name="swi_username" serializeAs="String">
                <value>dasapi</value>
            </setting>
            <setting name="swi_password" serializeAs="String">
                <value>Dataaccess1</value>
            </setting>
            <setting name="swi_callerID" serializeAs="String">
                <value>8444640033</value>
            </setting>
            <setting name="swi_smsFromName" serializeAs="String">
                <value>CouncilAlignMENT</value>
            </setting>
            <setting name="swi_timeZone" serializeAs="String">
                <value>CST</value>
            </setting>
            <setting name="sendgrid_username" serializeAs="String">
                <value>CouncilAlignMENT</value>
            </setting>
            <setting name="sendgrid_password" serializeAs="String">
                <value>Alignment101</value>
            </setting>
            <setting name="isDemoMode" serializeAs="String">
                <value>True</value>
            </setting>
        </gsmtCampPlacing.Properties.Settings>
    </applicationSettings>
</configuration>
